[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
[submodule "submodules/wil"]
	path = submodules/wil
	url = https://github.com/Microsoft/wil
